---
import css from "../github-card.module.css";

export interface Props {
  stars: number;
}

const props = Astro.props;
---

<div class={css.footerItem}>
  <svg width="14" height="24" role="img" version="1.1" viewBox="0 0 14 16">
    <path
      fill="currentColor"
      fill-rule="evenodd"
      d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"
    ></path>
  </svg>
  <div class={css.symbolAndLabel}>
    <span class={css.symbol}>{props.stars}</span>
    <span class={css.label}>Stars</span>
  </div>
</div>
