---
import Icon from "node_modules/@astrojs/starlight/user-components/Icon.astro";
import { getRepositories } from "~/utils/github_repositories";
import Forks from "./components/forks.astro";
import Language from "./components/language.astro";
import Stars from "./components/stars.astro";
import css from "./github-card.module.css";

export interface Props {
  organizationOrUser: string;
  repo: string;
  logo?: string;
}

const repos = await getRepositories();
const props = Astro.props;

const id = `${props.organizationOrUser}/${props.repo}`;
const repo = repos[id]!;
---

<a title="hi" href={repo.url} class={css.ghCard}>
  <header class={css.header}>
    <div class={css.ghLogo}>
      <Icon name="github" size="24px" />
    </div>
    <div class={css.headerTitle}>
      <h2>{props.organizationOrUser}/</h2>
      <h1>{props.repo}</h1>
    </div>
    <div class={css.headerLogo}>
      <img src={props.logo} width="auto" height="auto" />
    </div>
  </header>
  <div class={css.description}>{repo.description}</div>
  <footer class={css.footer}>
    <Stars stars={repo.stars} />
    <Forks forks={repo.forks} />
    <Language language={repo.language} languageColor={repo.languageColor} />
  </footer>
</a>
